<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>margin-top</title>
</head>
<style>
  * {
    padding: 0;
    margin: 0;
  }

  .father {
    /*overflow: hidden;*/
    width: 500px;
    height: 500px;
    background-color: red;
  }

  .son {
    width: 100px;
    height: 100px;
    background-color: green;
    margin-top: 100px;
  }
</style>
<body>
<div class="father">
  <div class="son"></div>
</div>
</body>
</html>


//给子元素盒子一个垂直外边距margin-top,父元素盒子也会往下走margin-top的值
//http://www.w3school.com.cn/css/css_margin_collapsing.asp









