<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Javascript 返回顶部</title>
    <style type="text/css">
        #btn {
            display: none;
            width: 40px;
            height: 40px;
            position: fixed;
            right: 65px;
            bottom: 10px;
            background: url(images/top_bg.png) no-repeat left top;
        }

        #btn:hover {
            background: url(images/top_bg.png) no-repeat left -40px;
        }

        .bg {
            width: 1190px;
            margin: 0 auto;
        }

    </style>

</head>
<body>
<a href="javascript:;" id="btn" title="回到顶部"></a>
<div class="bg">
    <img src="images/tb_bg.jpg" alt=""/>
</div>
</body>

<script type="text/javascript">
    //let clientHeight = document.documentElement.clientHeight
    window.onload = function () {
        var obtn = document.getElementById('btn');
        var timer = null;
        var isTop = true;
        // 获取页面可视区域的高度
        var clientHeight = document.documentElement.clientHeight;

        window.onscroll = function () {
            var osTop = document.documentElement.scrollTop || document.body.scrollTop;
            if (osTop === 0) {
                clearInterval(timer)
            }
            if (osTop >= clientHeight) {
                obtn.style.display = 'block';
            } else {
                obtn.style.display = 'none';
            }
        };

        obtn.onclick = function () {
            if (timer) {
                clearInterval(timer)
            }
            console.log('onclick');
            timer = setInterval(function () {
                var osTop = document.documentElement.scrollTop || document.body.scrollTop;
                var ispeed = Math.floor(-osTop / 6);
                document.documentElement.scrollTop = document.body.scrollTop =
                    osTop + ispeed;
                if (osTop === 0) {
                    clearInterval(timer);
                }
            }, 30)
        };

    };

    function throttle(func, wait, mustRun) {
        var timeout, startTime = new Date();
        return function () {
            var context = this,
                args = arguments,
                curTime = new Date();
            clearTimeout(timeout);
            if (curTime - startTime >= mustRun) {
                func.apply(context, args);
                startTime = curTime;
            } else {
                timeout = setTimeout(func, wait)
            }

        }
    }


</script>
</html>