.phone {
  position: relative;
  margin: 10px auto;
  width: 395px;
  height: 813px;
  background: url("phone.png") -395px 0;
  background-size: 300% auto;
}
.phone .phoneContent {
  position: absolute;
  top: 117px;
  left: 37px;
  width: 321px;
  height: 569px;
  overflow: hidden;
}
.phone .phoneContent #phoneIframe {
  position: absolute;
  height: 569px;
  width: 100%;
  overflow: hidden;
}
